<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="pt.wingman.entel"
        version="0.0.1">

  <name>Entel</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/entel.js" target="js/entel.js"/>

  <js-module src="www/entel.js" name="entel">
    <clobbers target="entel" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Entel">
        <param name="android-package" value="com.example.plugin.Hello"/>
      </feature>
    </config-file>

    <source-file src="src/android/Entel.java" target-dir="src/pt/wingman/plugin/"/>
  </platform>

</plugin>